.idea
*.iml

.DS_Store

**/*/target
servicetemplates/http%3A%2F%2Fopentosca.org%2Fservicetemplates/UbuntuTest_w1-wip1/ServiceTemplate.tosca
servicetemplates/http%3A%2F%2Fopentosca.org%2Fservicetemplates/UbuntuTest_w1-wip1/SELFSERVICE-Metadata/data.xml
servicetemplates/http%3A%2F%2Fopentosca.org%2Fservicetemplates/UbuntuTest_w1-wip1/SELFSERVICE-Metadata/data.xml.mimetype
servicetemplates/https%3A%2F%2Fust-quantil.github.io%2Fservicetemplates/FlaskExample_Database-w1-wip2/ServiceTemplate.tosca
servicetemplates/https%3A%2F%2Fust-quantil.github.io%2Fservicetemplates/FlaskExample_Database-w1-wip2/SELFSERVICE-Metadata/data.xml
servicetemplates/https%3A%2F%2Fust-quantil.github.io%2Fservicetemplates/FlaskExample_Database-w1-wip2/SELFSERVICE-Metadata/data.xml.mimetype
servicetemplates/https%3A%2F%2Fust-quantil.github.io%2Fservicetemplates/FlaskExample_latest-w1-wip4/ServiceTemplate.tosca
servicetemplates/https%3A%2F%2Fust-quantil.github.io%2Fservicetemplates/FlaskExample_latest-w1-wip4/SELFSERVICE-Metadata/data.xml
servicetemplates/https%3A%2F%2Fust-quantil.github.io%2Fservicetemplates/FlaskExample_latest-w1-wip4/SELFSERVICE-Metadata/data.xml.mimetype
nodetypes/https%3A%2F%2Fust-quantil.github.io%2Fnodetypes/FlaskExample_Database-w1-wip2/NodeType.tosca
nodetypes/https%3A%2F%2Fust-quantil.github.io%2Fnodetypes/FlaskExample_latest-w1-wip4/NodeType.tosca
nodetypes/https%3A%2F%2Fust-quantil.github.io%2Fnodetypes/PythonWithLogging_latest-w1-wip1/NodeType.tosca
nodetypeimplementations/https%3A%2F%2Fust-quantil.github.io%2Fnodetypeimplementations/FlaskExample-Implementation_Database-w1-wip1/NodeTypeImplementation.tosca
nodetypeimplementations/https%3A%2F%2Fust-quantil.github.io%2Fnodetypeimplementations/FlaskExample-Implementation_Database2-w1-wip1/NodeTypeImplementation.tosca
nodetypeimplementations/https%3A%2F%2Fust-quantil.github.io%2Fnodetypeimplementations/FlaskExample-Implementation_latest-w1-wip1/NodeTypeImplementation.tosca
nodetypeimplementations/https%3A%2F%2Fust-quantil.github.io%2Fnodetypeimplementations/FlaskExample-Implementation_latest-w1-wip2/NodeTypeImplementation.tosca
nodetypeimplementations/https%3A%2F%2Fust-quantil.github.io%2Fnodetypeimplementations/FlaskExample-Implementation_latest2-w1-wip1/NodeTypeImplementation.tosca
nodetypeimplementations/https%3A%2F%2Fust-quantil.github.io%2Fnodetypeimplementations/FlaskExample-Implementation_latest3-w1-wip1/NodeTypeImplementation.tosca
nodetypeimplementations/https%3A%2F%2Fust-quantil.github.io%2Fnodetypeimplementations/FlaskExample-Implementation_latest4-w1-wip1/NodeTypeImplementation.tosca
nodetypeimplementations/https%3A%2F%2Fust-quantil.github.io%2Fnodetypeimplementations/PythonWithLogging-Implementation_latest-w1-wip1/NodeTypeImplementation.tosca
artifacttemplates/https%3A%2F%2Fust-quantil.github.io%2Fartifacttemplates/FlaskExample_Database-DA-w1-wip2/ArtifactTemplate.tosca
artifacttemplates/https%3A%2F%2Fust-quantil.github.io%2Fartifacttemplates/FlaskExample_Database-DA-w1-wip2/files/Archive.zip
artifacttemplates/https%3A%2F%2Fust-quantil.github.io%2Fartifacttemplates/FlaskExample_Database-DA-w1-wip2/files/Archive.zip.mimetype
artifacttemplates/https%3A%2F%2Fust-quantil.github.io%2Fartifacttemplates/FlaskExample_Database-connectTo-w1-wip2/ArtifactTemplate.tosca
artifacttemplates/https%3A%2F%2Fust-quantil.github.io%2Fartifacttemplates/FlaskExample_Database-connectTo-w1-wip2/files/connect_to.sh
artifacttemplates/https%3A%2F%2Fust-quantil.github.io%2Fartifacttemplates/FlaskExample_Database-connectTo-w1-wip2/files/connect_to.sh.mimetype
artifacttemplates/https%3A%2F%2Fust-quantil.github.io%2Fartifacttemplates/FlaskExample_latest-DA-w1-wip1/ArtifactTemplate.tosca
artifacttemplates/https%3A%2F%2Fust-quantil.github.io%2Fartifacttemplates/FlaskExample_latest-DA-w1-wip1/files/Archive.zip
artifacttemplates/https%3A%2F%2Fust-quantil.github.io%2Fartifacttemplates/FlaskExample_latest-DA-w1-wip1/files/Archive.zip.mimetype
artifacttemplates/https%3A%2F%2Fust-quantil.github.io%2Fartifacttemplates/FlaskExample_latest-install4-w1-wip1/ArtifactTemplate.tosca
artifacttemplates/https%3A%2F%2Fust-quantil.github.io%2Fartifacttemplates/FlaskExample_latest-install4-w1-wip1/files/install_dependencies.py
artifacttemplates/https%3A%2F%2Fust-quantil.github.io%2Fartifacttemplates/FlaskExample_latest-install4-w1-wip1/files/install_dependencies.py.mimetype
artifacttemplates/https%3A%2F%2Fust-quantil.github.io%2Fartifacttemplates/FlaskExample_latest-start-w1-wip1/ArtifactTemplate.tosca
artifacttemplates/https%3A%2F%2Fust-quantil.github.io%2Fartifacttemplates/FlaskExample_latest-start-w1-wip1/files/start.sh
artifacttemplates/https%3A%2F%2Fust-quantil.github.io%2Fartifacttemplates/FlaskExample_latest-start-w1-wip1/files/start.sh.mimetype
artifacttemplates/https%3A%2F%2Fust-quantil.github.io%2Fartifacttemplates/FlaskExample_latest-start-w1-wip2/ArtifactTemplate.tosca
artifacttemplates/https%3A%2F%2Fust-quantil.github.io%2Fartifacttemplates/FlaskExample_latest-start-w1-wip2/files/start.sh
artifacttemplates/https%3A%2F%2Fust-quantil.github.io%2Fartifacttemplates/FlaskExample_latest-start-w1-wip2/files/start.sh.mimetype
artifacttemplates/https%3A%2F%2Fust-quantil.github.io%2Fartifacttemplates/PythonWithLogging_latest-install-w1-wip1/ArtifactTemplate.tosca
artifacttemplates/https%3A%2F%2Fust-quantil.github.io%2Fartifacttemplates/PythonWithLogging_latest-install-w1-wip1/files/install_python.sh
artifacttemplates/https%3A%2F%2Fust-quantil.github.io%2Fartifacttemplates/PythonWithLogging_latest-install-w1-wip1/files/install_python.sh.mimetype
